.page {
  padding-top: 25px;
  padding-bottom: 60px;
}

.page__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__numbers--container {
  display: flex;
}

.page__block {
  padding: 13px 11px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  color: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  background-color: inherit;
  border-radius: 5%;
}

.page__number {
  text-align: center;
  margin: 5px;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    &:hover {
      color: var(--white-text-color);
      border-radius: 5px;

      transition: color,
        background-color var(--modal-transition-delay) var(--default-transition-timing);
      background-color: lighten(#ff6b08, 25%);
    }
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 35px;
    margin: 3px;
  }
}
// .page__number.dark-theme {
//   background-color: var(--secondary-bg-color);
// }
.page__number:not(:last-child) {
  margin-right: 5px;
}

.page__number--active {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
}

.page__btn {
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken(#f7f7f7, 5%);
  }
}

.page__ellipsis {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: none;
  }
}

.page__btn--arrow {
  border: none;
  background-color: inherit;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 5%;
  margin: 5px;

  &:hover {
    color: var(--white-text-color);
    background-color: lighten(#ff6b08, 25%);
    transition: color,
      background-color var(--modal-transition-delay) var(--default-transition-timing);
    border-radius: 5px;
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: none;
  }
}

.page__hidden {
  display: none;
}
