<footer class="footer-wrapper">
    <div class="footer container ">
        <div class="logo-container">
            <img src="/images/team-modal/team-logo.png" alt="team-logo" class="logo-item" width="60" height="60">
            <div class="slogan-container">
                <h1 class="slogan">INTERNATIONAL&#174;</h1>
                <p>Unified we succeed!</p>
            </div>
        </div>
        <div class="footer-container">
            <p class="footer-container_first-part">&#169; 2021 | All Rights Reserved |</p>

            <div class="footer-container_second-part">
                <p class="footer-container_indent">Developed with</p>
                <img src="\images\footer-heart.svg" width="14" height="13" alt="footer-heart"
                    class="footer-container_indent">
                <p>by
                    <a href="#" class="footer-container_link" data-footer-modal-open><u>GoIT Students</u>
                </p></a>
            </div>

        </div>
    </div>
</footer>