<div class="backdrop is-hidden" data-footer-modal>
  <div class="footer-modal">
    <button type="button" class="footer-modal__close--button" data-footer-modal-close>
      <svg class="footer-modal__icon" width="14" height="14">
        <use href=""></use>
      </svg>
    </button>

    <ul class="card-set">
      <li class="card-set_item">
        <div>
          <div class="card">
            <div class="front">
              <img
                src="./images/team-modal/qr-code-1.jpg"
                class="qr-code"
                width="200"
                height="200"
                alt="!FALSE 
                            It`s funny because 
                            It`s true"
              />
            </div>
            <a class="back member-link" href="https://github.com/AleksandrKotenok" target="_blank">
              <img
                src="./images/team-modal/aleksandr-kotenok.jpg"
                alt="aleksandr-kotenok"
                class="member-photo"
              />
              <div>
                <h2 class="member-name">Aleksandr Kotenok</h2>
                <div class="member-descr">
                  <p class="member-role">Team Lead</p>
                  <img
                    src="./images/team-modal/icon-github.svg"
                    width="20"
                    height="20"
                    alt="github-page"
                    class="github-link"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="card-set_item">
        <div>
          <div class="card">
            <div class="front">
              <img
                src="./images/team-modal/qr-code-2.jpg"
                class="qr-code"
                width="200"
                height="200"
                alt="Roses are red,
                            Vio;ets are blue,
                            Unexpected '{'
                            On line 32."
              />
            </div>
            <a class="back member-link" href="https://github.com/NataliyaMylyan" target="_blank">
              <img
                src="./images/team-modal/nataliya-mylyan.jpg"
                alt="nataliya-mylyan"
                class="member-photo"
              />
              <div>
                <h2 class="member-name">Nataliya Mylyan</h2>
                <div class="member-descr">
                  <p class="member-role">Team Member</p>
                  <img
                    src="./images/team-modal/icon-github.svg"
                    width="20"
                    height="20"
                    alt="github-page"
                    class="github-link"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="card-set_item">
        <div>
          <div class="card">
            <div class="front">
              <img
                src="./images/team-modal/qr-code-3.jpg"
                class="qr-code"
                width="200"
                height="200"
                alt="while (noSuccess) {
                                tryAgain();
                                if(Dead)
                                break;
                            }"
              />
            </div>
            <a class="back member-link" href="https://github.com/DorianGarret" target="_blank">
              <img
                src="./images/team-modal/alexandr-kondratenko.jpg"
                alt="alexandr-kondratenko"
                class="member-photo"
              />
              <div>
                <h2 class="member-name">Alexandr Kondratenko</h2>
                <div class="member-descr">
                  <p class="member-role">Team Member</p>
                  <img
                    src="./images/team-modal/icon-github.svg"
                    width="20"
                    height="20"
                    alt="github-page"
                    class="github-link"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="card-set_item">
        <div>
          <div class="card">
            <div class="front">
              <img
                src="./images/team-modal/qr-code-4.jpg"
                class="qr-code"
                width="200"
                height="200"
                alt="if(!tired()){keepCoding();
                            }else{
                            drinkCoffee();
                            }"
              />
            </div>
            <a class="back member-link" href="https://github.com/Yevhen-Karpov" target="_blank">
              <img
                src="./images/team-modal/yevhen-karpov.jpg"
                alt="yevhen-karpov"
                class="member-photo"
              />
              <div>
                <h2 class="member-name">Yevhen Karpov</h2>
                <div class="member-descr">
                  <p class="member-role">Scrum Master</p>
                  <img
                    src="./images/team-modal/icon-github.svg"
                    width="20"
                    height="20"
                    alt="github-page"
                    class="github-link"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="card-set_item">
        <div>
          <div class="card">
            <div class="front">
              <img
                src="./images/team-modal/qr-code-5.jpg"
                class="qr-code"
                width="200"
                height="200"
                alt="if(sad()===true){
                            sad().stop();
                            beAwesome();
                            }"
              />
            </div>
            <a class="back member-link" href="https://github.com/Peleshko" target="_blank">
              <img
                src="./images/team-modal/viktoriia-peleshko.jpg"
                alt="viktoriia-peleshko"
                class="member-photo"
              />
              <div>
                <h2 class="member-name">Viktoriia Peleshko</h2>
                <div class="member-descr">
                  <p class="member-role">Team Member</p>
                  <img
                    src="./images/team-modal/icon-github.svg"
                    width="20"
                    height="20"
                    alt="github-page"
                    class="github-link"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="card-set_item">
        <div>
          <div class="card">
            <div class="front">
              <img
                src="./images/team-modal/qr-code-6.jpg"
                class="qr-code"
                width="200"
                height="200"
                alt="const response=()=>
                            !isMadeByMe?
                            'bug':
                            'feature'"
              />
            </div>
            <a class="back member-link" href="https://github.com/vovkis13" target="_blank">
              <img
                src="./images/team-modal/volodymyr-klochan.jpg"
                alt="volodymyr-klochan"
                class="member-photo"
              />
              <div>
                <h2 class="member-name">Volodymyr Klochan</h2>
                <div class="member-descr">
                  <p class="member-role">Team Member</p>
                  <img
                    src="./images/team-modal/icon-github.svg"
                    width="20"
                    height="20"
                    alt="github-page"
                    class="github-link"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="card-set_item">
        <div>
          <div class="card">
            <div class="front">
              <img
                src="./images/team-modal/qr-code-7.jpg"
                class="qr-code"
                width="200"
                height="200"
                alt="while(alive){
                                eat();
                                sleep();
                                code();
                                repeat();
                            }"
              />
            </div>
            <a class="back member-link" href="https://github.com/Margarita555" target="_blank">
              <img
                src="./images/team-modal/margarita-andreskul.jpg"
                alt="margarita-andreskul"
                class="member-photo"
              />
              <div>
                <h2 class="member-name">Margarita Andreskul</h2>
                <div class="member-descr">
                  <p class="member-role">Team Member</p>
                  <img
                    src="./images/team-modal/icon-github.svg"
                    width="20"
                    height="20"
                    alt="github-page"
                    class="github-link"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="card-set_item">
        <div>
          <div class="card">
            <div class="front">
              <img
                src="./images/team-modal/qr-code-8.jpg"
                class="qr-code"
                width="200"
                height="200"
                alt="if(youWant()===true){
                                youCan();
                            }else{
                                youCant();
                            }"
              />
            </div>
            <a class="back member-link" href="https://github.com/MaksimEdam" target="_blank">
              <img
                src="./images/team-modal/maksim-edamenko.jpg"
                alt="maksim-edamenko"
                class="member-photo"
              />
              <div>
                <h2 class="member-name">Maksim Edamenko</h2>
                <div class="member-descr">
                  <p class="member-role">Team Member</p>
                  <img
                    src="./images/team-modal/icon-github.svg"
                    width="20"
                    height="20"
                    alt="github-page"
                    class="github-link"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
