<section class="page">
    <div class="page__container container">

        <button class="page__btn page__btn--prev" type="button">
            <svg class="icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-arrow-left2"></use>
            </svg>
        </button>
        <button class="page__btn--arrow page__btn--first page__hidden" type="button">1</button>

        <div class="page__ellipsis page__ellipsis--start page__block page__hidden">...</div>
        <div class="page__numbers--container">

        </div>
        <div class="page__ellipsis page__ellipsis--finish page__block">...</div>
        <button class="page__btn--arrow page__btn--last" type="button">20</button>
        <button class="page__btn page__btn--next" type="button">
            <svg class="icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
        </button>

    </div>
</section>